

/* backgoround*/
body {
    background-image:url(images/opmap.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: right center;
    background-color: #2762A8;
  }

/* index page images*/
  .frontwave {
  position: fixed;
  bottom:-100px;
}
  .merry {
    position: fixed;
   bottom: 10px;
  }
  .backwave {
    position: fixed;
    bottom:100px;
  }
  
  .title {
    position:fixed;
    right:10px;
  }

/* nav bar*/
   .navbar {
    background-color: #2762A8;
    overflow: no-repeat;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
  }
  .navbar a {
    float: left;
    display: block;
    padding: 5px 25px 5px 25px;
  }
  


/* */
/* */