

/* backgoround*/
body {
    background-image:url(images/opmap.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: right center;
    background-color: #2762A8;
  }

.textl{
  width: 85%;
  background-color:#FFCBCB;
  border: 15px solid red;
  padding:25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.textn{
  width: 85%;
  background-color:#FFD087;
  border:solid orange 15px;
  padding:25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.textu{
  width: 85%;
  background-color:#FFF8BD;
  border:solid #FAD824 15px;
  padding:25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.textz{
  width: 85%;
  background-color:#E3FFC5;
  border:solid green 15px;
  padding:25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* index page images*/
.boat {
  position: relative;
  z-index: -1px;
}

.frontwave {
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
 
}
  .merry {
  position: fixed;
   bottom: 10px;
   left:0px;
  }
  .backwave {
    position: fixed;
    bottom:100px;
    right:0px;
  }
  
  .title {
    position:fixed;
    right:10px;
  }
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* hovers */

.hovers {
  z-index:999;
  position: absolute;
  bottom:135px;
  width:100%;
}

/* nav bar*/
   .navbar {
    background-color: #2762A8;
    overflow: no-repeat;
    position: fixed;
    bottom: 0;
    left:0px;
    width: 100%;
    display:flex;
    justify-content:space-between

  }
  .navbar a {
    display: block;
    padding: 5px 5x 0px 5px;
  }
  
.hide {
  display:none;
}

/* */
/* */