

/* backgoround*/
body {
    background-image:url(images/opmap.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: right center;
    background-color: #2762A8;
  }

/* index page images*/
.boat {
  position: relative;
  bottom: 20%;
  z-index: -1px;
}

.frontwave {
  position: fixed;
  bottom:0;
}
  .merry {
    position: fixed;
   bottom: 10px;
  }
  .backwave {
    position: fixed;
    bottom:100px;
  }
  
  .title {
    position:fixed;
    right:10px;
  }
.hovers {
  z-index:999;
  position: absolute;
  bottom:228px;
  left:0;
  right:0;
  width:100%;
}
/* nav bar*/
   .navbar {
    background-color: #2762A8;
    overflow: no-repeat;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content:space-between

  }
  .navbar a {
    display: block;
    padding: 5px 25px 5px 25px;
  }
  
.hide {
  display:none;
}

/* */
/* */