
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1682687982167-d7fb3ed8541d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=800);
    background-position:cover;
}
h1 {
    color:mediumseagreen;   
    border:2px solid palegreen;
}
h2 {
    color:aqua
}
.bread {
    color:blue}
p{
    border:2px solid paleturquoise;
}
a{
    border:2px solid palegreen;
    
}
div{
    border: 2px dotted pink;
    padding-top: 40px;
    display:flex;
    background-color: darkgrey;
}
h1,h2,h3 {
    flex:1;}
