* {box-sizing: border-box;}

html {
    scroll-behavior: smooth;
  }
  
body {
  margin: 0;
  padding: 0;
  overflow-x: visible; /* Hide horizontal scrollbar */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
  cursor: visible; 
  font-size: 30px;

  
}
h1 {text-align: center;
  font-size: 60px}

img {
    width:100%;
}

.container {
  display: flex;
  transition: transform 0.5s ease;
}
.container3{
    width:300vw;
    margin-top:60px;
    display: flex;
    transition: transform 0.5s ease;
}
.container3 div {
    flex:100vw;
}
.left-column {
    padding:80px;
}
.right-column {
    position:relative;
}
.back {
    width:40px;
    position:absolute;
    bottom: 50%;
    right:20px;
}
.page {
  width: 100%; /* Each page takes up 20% of the viewport width */
  padding: 20px;
}
.oval-button {
    background-color: #6A9E6F; /* Green background color */
    color: white;
    border: none;
    border-radius: 20px; /* Adjust the border-radius to create an oval shape */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .oval-button:hover{
    background-color:#49734D
    }
   
  .button-container {
    display: flex;
    flex-direction: column;
      align-items: center; /* Center horizontally */
      justify-content: center; /* Center vertically */
      gap: calc(100vh / 4 - 100px); /* Adjusted gap based on screen height */
    }

    .button {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: #A3D4A8; /* Green background color */
      color: #443120; /* White text color */
      text-align: center;
      line-height: 20px;
      text-decoration: none;
      display: flex;
      align-items: center; /* Center text vertically */
      justify-content: center; /* Center text horizontally */
      transition: background-color 0.3s;
    }

    .button:hover {
      background-color: #6A9E6F; /* Dark green background color on hover */
    }
    
.nav-dropdown {
  position: fixed;
  display: inline-block;
    top:10px;
    left:20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C9EECD;
  min-width: 160px;
  box-shadow: 0 8px 16px #49734D(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #443120;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #49734D;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}


.content-col {
  /* Styles for content column */
}

.image-col {
  /* Styles for image column */
}

/* Add more styling as needed */

/* Circle cursor */
.circle-cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 5px solid #A3D4A8;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
}

.column img {
  width: 100%;
  border-radius: 8px; /* Optional: add rounded corners to the images */
}

.column p {
  text-align: center;
  margin-top: 10px;
}
